---
import { navItems } from "../../data/es/nav";
---

<footer class="bg-[#0F172A] text-white py-10 mt-16  p-5 w-full">
  <div class="max-w-6xl mx-auto px-4 md:px-0 flex flex-col md:flex-row items-center justify-between gap-y-6">
    
    <!-- Navegación -->
    <nav class="flex flex-wrap justify-center gap-x-6 text-sm opacity-80 gap-y-3">
       {navItems.map(item => (
        <a href={item.href} class=" hover:underline">{item.label}</a>
      ))}
    </nav>

    <!-- Créditos o redes -->
    <div class="text-xs text-gray-400 text-center md:text-right">
      © {new Date().getFullYear()} OptimaX-AI. Todos los derechos reservados.
    </div>
    
  </div>
</footer>
