---
import { navItems } from "../../data/es/nav";

---

<script>
  //Colocar el header con fondo oscuro al hacer scroll
  if (typeof window !== "undefined") {
    window.addEventListener("scroll", () => {
      const header = document.querySelector("header");
      if (window.scrollY > 10) {
        header?.classList.add("bg-[#F8FAFC]/70", "backdrop-blur-md", "shadow-md", "dark:bg-[#0F172A]/90");
      } else {
        header?.classList.remove("bg-[#F8FAFC]/70", "backdrop-blur-md", "shadow-md", "dark:bg-[#0F172A]/90");
      }
    });
  }
</script>

<header  class="w-full h-16 px-4 md:px-0 flex justify-between md:justify-around items-center mx-auto fixed top-0 z-50 transition-all duration-300  ">
  <!-- Logo de la empresa -->
   <a href="/">
      <img
      loading="lazy"
      class="h-full max-h-6 w-auto"
      src="/logoOptimaXAI.avif"
      alt="Logo OptimaX-AI"
    />
  </a>

  <!-- Menú desktop -->
  <nav class="hidden md:flex flex-row gap-x-10 opacity-80 text-sm">
    {navItems.map(item => (
      <a href={item.href} class="text-black hover:underline dark:text-slate-400">{item.label}</a>
    ))}
  </nav>

</header>
