---
import SectionContainer from '../components/layout/SectionContainer.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import Contact from '../components/sections/Contact.astro';
import CTA from '../components/sections/CTA.astro';
import Hero from '../components/sections/Hero.astro';
import Results from '../components/sections/Results.astro';
import Services from '../components/sections/Services.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

---

<Layout title="OptimaX-AI" description="descripcion sitio web">
	<main class="px-4">
		<SectionContainer id="top" class="mt-24 md:mt-0 md:h-dvh flex flex-col items-center justify-center">
			<Hero></Hero>
		</SectionContainer>

		<SectionContainer id="services" class="scroll-mt-34 transition-all duration-2500 opacity-0 translate-y-10 reveal">
			<Services></Services>
		</SectionContainer>

    <SectionContainer id="results" class="scroll-mt-24 transition-all duration-2500 opacity-0 translate-y-10 reveal">
			<Results></Results>
		</SectionContainer>

    <SectionContainer id="aboutus" class="scroll-mt-34 transition-all duration-2500 opacity-0 translate-y-10 reveal">
      <AboutUs></AboutUs>
    </SectionContainer>

    <!-- <SectionContainer>
      <CTA></CTA>
    </SectionContainer>
 -->
    <SectionContainer id="contact" class="scroll-mt-34 transition-all duration-2500 opacity-0 translate-y-10 reveal">
      <Contact></Contact>
    </SectionContainer>

	</main>
</Layout>

<!-- Animación de cada seccion al aparecer por primera vez -->
<script is:inline>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('opacity-100', 'translate-y-0');
        entry.target.classList.remove('opacity-0', 'translate-y-10');
        observer.unobserve(entry.target); // solo una vez
      }
    });
  }, {
    threshold: 0.1
  });

  document.querySelectorAll('.reveal').forEach(el => {
    observer.observe(el);
  });
</script>
